@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900 !important;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
    color: #20212c;
}

img {
    width: 100%;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(17, 7, 254, 0.7), rgba(0, 224, 254, 0.7));
    z-index: -1;
}

.btn-secondary {
    background: linear-gradient(to right,#00e0fe, #1107fe);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: #fff;
    height: 45px;
    margin-left: 10px;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 14px 22px;
    transition: all 0.3s ease;
}

.btn-main {
    background: linear-gradient(to right,#00e0fe, #1107fe);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: #fff;
}

.btn:hover {
    color: #fff;
    transform: translateY(-5px);
}

.navbar {
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    background: -webkit-linear-gradient(#00e0fe, #1107fe);
  -webkit-text-fill-color: transparent;
}

.section-intro {
    margin-bottom: 40px;
}

.section-intro .divider {
    height: 4px;
    width: 70px;
    background: linear-gradient(to right,#00e0fe, #1107fe);
    margin: 16px auto;
}

.service .service-img {
    position: relative;
}

.service .service-img .icon {
    width: 90px;
    height: 90px;
    background: linear-gradient(to right,#00e0fe, #1107fe);
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}

.service .service-img .icon i {
    font-size: 36px;
}

.feature i {
    background: -webkit-linear-gradient(#00e0fe, #1107fe);
  -webkit-text-fill-color: transparent;
  font-size: 54px;
}

.date {
    color: rgb(204, 204, 204);
    font-size: small;
}

.review {
    box-shadow: 0 12px 12px rgba(0,0,0,0.1);
}
.review .person {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    padding-bottom: 18px;
}

.review .person img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

.review .stars {
    color: orange;
}

form .form-control {
    border-radius: 0;
    background: transparent;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
}

form .form-control:focus {
    color: #fff;
    background: transparent;
    border-color: #fff;
}

form input.form-control {
    height: 54px;
}

form .form-control::placeholder {
    color: #fff;
}

footer {
    background: linear-gradient(to right,#00e0fe, #1107fe);
    color: #fff;
}

footer a {
    color: #fff;
}

.card {
    margin: 10px;
}

.box-area {
	padding: 30px;
	position: relative;
	display: block;
	background: #fff;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 40px 0;
}
.box-area h5 {
	font-size: 16px;
	font-weight: 700;
	color: #0a69ed;
	margin-top: 30px;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.box-area span {
	color: #262626;
	display: block;
	font-size: 13px;
	margin: 0 0 10px;
	font-weight: 400;
}
.box-area .content {
	color: #262626;
}
.box-area .img-area {
	width: 90px;
	height: 90px;
	position: absolute;
	top: -40px;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	z-index: 1;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.box-area .img-area img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.socials {
	margin-top: 30px;
}
.socials i {
	margin: 0 10px;
	color: #0a69ed;
	font-size: 18px;
}
#testimonial_area .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
#testimonial_area .owl-prev, #testimonial_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #0a69ed;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	position: absolute;
}
#testimonial_area .owl-prev {
	left: -60px;
	top: -30px;
}
#testimonial_area .owl-next {
	right: -60px;
	top: -30px;
}
@media only screen and (max-width: 991px) {
	.owl-nav {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.box-area {
		text-align: center;
	}
	.owl-nav {
		display: none;
	}
}
