{% extends 'base.html' %}
{% load static %}
{% block content %}
            <!-- Blog Content -->
            <div class="blog-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <article>
                                <div class="post-img">
                                    <div class="blog-slider">
                                        <div>
                                            <br>
                                            <br>
                                            <br>
                                            
                                        </div>

                                    </div>
                                    
                                </div>
                                <h4>{{article.title}}</h4>
                                <hr>
                                <p>{{article.publish_date}}</p>
                                <p>{{article.source}}</p>
                                <p>{{article.content}}</p>
                                <br>
                                <hr>
                                
                            </article>
                        </div>


                    </div>
                </div>
            </div>


{% endblock %}