{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <!--bikin judul-->
    <title>Deposit Sampah</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'csrf_ajax.js' %}"></script>

    <script>
        $('#post-form').on('submit', function(event){
            event.preventDefault();
            console.log("form submitted!")  // sanity check
            add_transaction();
        });

    </script>
{% endblock meta %}

{% block content %}

    {# Navbar #}
    {% include 'navbar.html' %}

    <h1 class="h1 p-2 m-2 fw-bold d-flex justify-content-center">Deposit Sampah</h1>

    <!-- Button trigger modal -->
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-block mx-auto" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Add Task
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">


                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">
                    <div class="container">
                        <form method="POST" action="./add_transaction/" class="form-create-task" id="post-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="branchName" class="control-label">Branch</label>

                                <select name="branchName" id="branchName" style="width: 100%;">
                                    <option value="branch_1">branch_1</option>
                                    <option value="branch_2">branch_2</option>
                                    <option value="branch_3">branch_3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="amountKg" class="control-label">Berat Sampah(Kg)</label>

                                <input type="number" name="amountKg" placeholder="100" min="0" cols="40" rows="10"
                                       required="" id="amountKg" class="form-control text-body border-dark">
                            </div>


                            <input class="btn btn-primary mt-3" style="width: 100%;" type="submit" name="submit"
                                   value="Create"
                                   data-bs-dismiss="modal"/>
                        </form>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="card-list">

        {% comment %}
        {% endcomment %}

    </div>


{% endblock content %}