{% extends 'base.html' %}

{% load static %}
{% block meta %}
<title>History</title>
{% endblock meta %}


{% block content %}
<!-- Section: Design Block -->
<body style= "padding-top: 100px"data-bs-spy="scroll" data-bs-target=".navbar">
  
{% include 'navbar.html' %}
  <h1 class="text-center">Cari Transaksi</h1>
  <link rel="stylesheet" href="{% static 'bin_bank.css' %}"> 
  
    <div class="col-12 section-intro text-center">
      <form method="POST" action="" id="searchtransaction">
        <div>
          <div class="divider"></div>
        </div>
        <div class="col-12 section-intro text-center">    
          <h5>Berdasarkan Cabang</h5>  
          {% csrf_token %}
          {{form.branchName}}
          
          {{ formset.non_form_errors }}

          {% if form.amountKg.errors %}
          <span class="text-danger">{{ form.amountKg.errors }} </span>
          {% endif %} 

          {% if form.branchName.errors %}
            <span class="text-danger">{{ form.branchName.errors }} </span>
          {% endif %} 
        </div>
        <div>
          <input type="submit" class="btn btn-main" value="Cari" id="carispesifikBtn">
        </div>
      </form>
    </div>
    
    <div class="col-12 section-intro text-center">
      <form method="POST" action="" id="filterTransaction">
        {% csrf_token %}
        <div class="col-12 section-intro text-center">
          <h5>Berdasarkan Berat</h5>
          <label class="form-label" for="id_batasbawah" ></label>
          <input type="number" id="id_batasbawah" name="Min" min="0" placeholder="Minimal Kilogram"></input>
          
          <label class="form-label" for="id_batasatas"></label>
          <input type="number" id="id_batasatas" name="Max" max="99999999999999" placeholder="Maksimal Kilogram"></input>
        </div> 
        <div class="text-center">
          <input type="submit" class="btn btn-main" value="Cari" id="cariBtn">
          <input type="submit" class="btn btn-main" value="Reset" id="resetBtn">
        </div>
      </form>
    </div>
   
  

    <div class="col-12 section-intro text-center">
        <h5>Berdasarkan Status</h5>
        <input type="submit" class="btn btn-main" value="Semua" id="filterall">
        <input type="submit" class="btn btn-main" value="Sedang Berlangsung" id="filterongoing">
        <input type="submit" class="btn btn-main" value="Berhasil" id="filtersucess">
    </div>
    <div class="col-11 section-intro text-center mx-auto" id="containerMain"></div> 
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    var maxKg = 0
    $(document).ready(() => {
      $("#id_branchName")[0].placeholder="Nama Cabang"
      $("#cariBtn").click(setrange)
      $("#carispesifikBtn").click(getDataSpecific)
      $("#filterongoing").click(getDataOngoing)
      $("#filtersucess").click(getDataSuccess)
      $("#filterall").click(getDataDefaultButton)
      $("#resetBtn").click(resetRangeFilter)
      getDataDefault()
    })

    function updateTransaction(id) {
      $.ajax({
        type: 'POST',
        url: '/update-transaction/'+ id,
        beforeSend: function(xhr) {
          xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: () => {
          $("#"+id).remove()
          $("#cardStatus"+id)[0].innerHTML = "Berhasil"
        }
        });
    }


    function getDataSpecific(e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: '/json/search/',
        data: $("#searchtransaction").serialize(), 
        success: function(data) {
            console.log(data)
            showDefault(data)
            
          },
          dataType: 'json'
        })
    }

    function resetRangeFilter(e){
      e.preventDefault()
      $("#filterTransaction")[0].reset();
      $.get("{% url 'bin_bank:show_transaction_user' %}", function (data) {
        showDefault(data)
      })
    }
    function getDataDefaultButton(e){
      e.preventDefault()
      $.get("{% url 'bin_bank:show_transaction_user' %}", function (data) {
        showDefault(data)
      })
    }

    function getDataDefault(){
      $.get("{% url 'bin_bank:show_transaction_user' %}", function (data) {
        showDefault(data)
      })
      
    }

    function getDataOngoing(e){
      e.preventDefault()
      $.get("{% url 'bin_bank:show_transaction_user_ongoing' %}", function (data) {
        showDefault(data)
      })
    }

    function getDataSuccess(e){
      e.preventDefault()
      $.get("{% url 'bin_bank:show_transaction_user_success' %}", function (data) {
        showDefault(data)
      })
    }


    function setrange(e) {
      e.preventDefault()
      var batasBawah = $("#id_batasbawah")[0]
      var batasAtas = $("#id_batasatas")[0]

      //Handle jika input kosong, set max dan min
      if (batasBawah.value==""){
        batasBawah.value=0
      }
      if (batasAtas.value==""){
        batasAtas.value = maxKg
      }

      $.ajax({
        type: 'POST',
        url: '/json/range/',
        data: $("#filterTransaction").serialize(), 
        success: function(data) {
            showDefault(data)
          },
          dataType: 'json'
        });
      
    }

    function showNodata(){
      var container = document.getElementById("containerMain")
      container.innerHTML = ""
      var messageTitle = document.createElement("h2")
      messageTitle.innerHTML = "Oops, nggak ada transaksi yang sesuai filter"

      var message = document.createElement("h5")
      message.innerHTML = "Coba reset atau ubah filter kamu, ya."
      
      container.appendChild(messageTitle)
      container.appendChild(message)
    }

    function showDefault(data){
      
      var container = document.getElementById("containerMain")
      container.innerHTML = ""
      
      if (data.length == 0) {
        showNodata()
        return
      }
      data.forEach(element => {
        var fields = element.fields
        var user = fields.user 
        var date = fields.date 
        var amountKg = fields.amountKg 
        var branchName = fields.branchName 
        var isFinished = fields.isFinished 

        var card = document.createElement("div")
        card.className = "card mb-3 py-0"

        var cardContent = document.createElement("div")
        cardContent.className = "row g-0 d-flex align-items-center justify-content-center"
        
        var cardBody = document.createElement("div")
        cardBody.className = "card-body py-5 px-md-5"
      
        
        if (amountKg>maxKg) {
          maxKg = amountKg
        }
        var cardHeader = document.createElement("h2")
        cardHeader.className = "card-title"
        cardHeader.innerHTML = amountKg+ " Kg" + " (" + date.substring(0,date.indexOf("T")) + ")" 

        var cardText = document.createElement("p")
        cardText.className = "card-text"
        cardText.innerHTML = "Cabang: " + branchName
        
        var cardStatus = document.createElement("h5")
        
        cardStatus.id = "cardStatus" + element.pk
        cardStatus.className = "card-text"
        cardStatus.innerHTML = (isFinished) ? 'Berhasil' : 'Sedang Berlangsung' 
        var buttonUpdate = document.createElement("button")
        
        
        cardBody.appendChild(cardHeader)
        cardBody.appendChild(cardText)
        cardBody.appendChild(cardStatus)
        
        if (!isFinished) {
          buttonUpdate.className = "btn btn-main"
          buttonUpdate.onclick = function () {
            updateTransaction(element.pk)
          };
          buttonUpdate.innerHTML = "Selesaikan Transaksi"
          buttonUpdate.id = element.pk
          cardBody.appendChild(buttonUpdate)
        }

        cardContent.appendChild(cardBody)
        card.appendChild(cardContent)
        container.appendChild(card)

        //document.body.appendChild(container)
        
      })
    }
  </script>
<footer class="py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <p class="mb-0">Copyright © 2022. Bin Bank</p>
          </div>
          <div class="col-md-6 text-md-end">
              <div>
                  <a href="#"><i class="bx bxl-facebook-circle"></i></a>
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                  <a href="#"><i class="bx bxl-dribbble"></i></a>
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                  <a href="#"><i class="bx bxl-github"></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>
</body>
{% endblock content %}