{% extends 'base.html' %}

{% block content %}

<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
    .card{
      background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
    }
</style>

<div class="container py-5 h-100">
  <div class="card mb-3 py-0">
    <form method="POST" action="" id="filterTransaction">
      {% csrf_token %}
      <div class="form-outline mb-4">
        <label class="form-label" for="id_batasbawah">Minimal (inklusif)</label>
        <input type="number" id="id_batasbawah" name="Min" min="1"></input>
        {% if form.title.errors %}
        <span class="text-danger">{{ form.title.errors }} </span>
        {% endif %}  
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="id_batasatas">Maksimal (inklusif)</label>
        <input type="number" id="id_batasatas" name="Max" max="99999999999999"></input>
        {% if form.desc.errors %}
        <span class="text-danger">{{ form.desc.errors }} </span>
        {% endif %} 
      </div>
      <input type="submit" class="btn btn-primary btn-block mb-4" value="Cari" id="cariBtn">
    </form>
  </div>
</div>

<div class="container py-5 h-100"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
  crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  $(document).ready(() => {
    $("#cariBtn").click(setrange)
    showDefault()
  })

  function getDataDefault(){
    $.get("{% url 'bin_bank:show_transaction_user' %}", function (data) {
      showDefault(data)
    })
    
  }

  function showDefault(data){
    var container = document.getElementsByClassName("container py-5 h-100")[1]
    container.innerHTML = ""
    console.log(data)
    data.forEach(element => {
      var card = document.createElement("div")
      card.className = "card mb-3 py-0"
      
      var cardContent = document.createElement("div")
      cardContent.className = "row g-0 d-flex align-items-center justify-content-center"
      
      var cardBody = document.createElement("div")
      cardBody.className = "card-body py-5 px-md-5"
    
      var fields = element.fields
      var user = fields.user 
      var date = fields.date 
      var amountKg = fields.amountKg 
      var branchName = fields.branchName 
      var isFInished = fields.isFInished 

      var cardHeader = document.createElement("h2")
      cardHeader.className = "card-title"
      cardHeader.innerHTML = amountKg+ " Kg" + " (" + date.substring(0,date.indexOf("T")) + ")" 

      var cardText = document.createElement("p")
      cardText.className = "card-text"
      cardText.innerHTML = branchName
      
      var cardStatus = document.createElement("h5")
      cardStatus.className = "card-text"
      cardStatus.innerHTML = (isFInished) ? 'Berhasil' : 'Sedang Berlangsung' 

      if (!isFInished) {
        console.log("ININI")
        var buttonUpdate = document.createElement("a")
        buttonUpdate.href = "/update-transaction/" + element.pk
        buttonUpdate.className = "btn btn-primary"
        buttonUpdate.innerHTML = "Selesaikan Transaksi"
      }
      
      cardBody.appendChild(cardHeader)
      cardBody.appendChild(cardText)
      cardBody.appendChild(cardStatus)
      cardBody.appendChild(buttonUpdate)

      cardContent.appendChild(cardBody)
      card.appendChild(cardContent)
      container.appendChild(card)

      document.body.appendChild(container)
      
    })

    
  }

  
  function setrange(e) {
    e.preventDefault()
     $.ajax({
      type: 'POST',
      url: '/json/range/',
      data: $("#filterTransaction").serialize(), 
      success: function(data) {
          showDefault(data)
        },
        dataType: 'json'
      });
  }
  
    

</script>

</section>
{% endblock content %}