{% extends 'base.html' %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="info d-flex align-items-center">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome to <br><span>Bin Bank</span></br></h2>
            <p data-aos="fade-up">Bin Bank adalah aplikasi berbasis web yang bertujuan untuk mendukung kegiatan operasional Bank Sampah di seluruh Indonesia</p>
            </div>
        </div>
        </div>
    </div>
    
{% endblock content %}

</html>

