{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Bin Bank</title>
<link rel="icon" type="image/x-icon" href="/static/logo.png">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'bin_bank.css' %}">
 <!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<!-- JS Bootstrap  -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock meta %}

{% block content %}
<body data-bs-spy="scroll" data-bs-target=".navbar">
    {% include 'navbar.html' %}
    <!-- Welcome Section -->
    <section id="home" class="bg-cover hero-section" style="background-image: url(static/hero-carousel/hero-carousel-1.jpg);">
        <div class="overlay"></div>
        <div class="container text-white text-center">
            <div class="row">
                <div class="col-12">
                        <h1 class="display-4">Welcome to Bin Bank</h1>
                        <p class="my-4 ade-up">Bin Bank is a web-based application that supports the operational activities of all Waste Banks in Indonesia.<br>
                            Join us to promote and protect our public's health and environment. </p>
                        <a href="#services" class="btn btn-main">Get started</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Why Us Section -->
    <section id="services" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 section-intro text-center">
                    <h1>Why Us?</h1>
                    <div class="divider"></div>
                    <p>Here are some reasons why you should join us in managing waste for a better future</p>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="service">
                        <div class="service-img">
                            <img src="" alt="">
                            <div class="icon"><span style="font-size: 35px">1</span></div>
                        </div>
                        <h5 class="mt-5 pt-4">Practical</h5>
                        <p>Data management is done digitally & can increase paperless activity</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <div class="service-img">
                            <img src="" alt="">
                            <div class="icon"><span style="font-size: 35px">2</span></div>
                        </div>
                        <h5 class="mt-5 pt-4">National integrated</h5>
                        <p>The integrated Bin Bank data has been integrated nationally, thus facilitating the process of monitoring waste management</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <div class="service-img">
                            <img src="" alt="">
                            <div class="icon"><span style="font-size: 35px">3</span></div>
                        </div>
                        <h5 class="mt-5 pt-4">Secured</h5>
                        <p>Bin Bank guarantees the security of user data in conducting transactions</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Us Section -->

    <!-- Our Project Section -->
    <section class="bg-cover" style="background-image: url(static/hero-carousel/hero-carousel-2.jpg);">
        <div class="overlay"></div>
            <div class="container text-white text-center"><div class="col-12 section-intro text-center">
                <h1>Our Projects</h1>
                <div class="divider"></div>
                <p> Let's see how much we have done for the future of our community and environment</p>
            </div>
            <div class="row gy-4">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <i class="icon-camera h1"></i>
                    <h1 class="mt-3 mb-2">{{waste_collected}}</h1>
                    <p>Waste Collected</p>
                </div>
                <div class="col-md-3">
                    <i class="icon-happy h1"></i>
                    <h1 class="mt-3 mb-2"><span id="shared-story"></span></h1>
                    <p>Shared Story</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
    <!-- End Our Project Section -->

    <!-- Our Testimonials -->
    <section id="testimonial_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-12 section-intro text-center">
                    <h1>Our Testimonials </h1>
                    <div class="divider"></div>
                    <p> Here are some stories of people using Bin Bank to manage their waste. 
                        <br> It's now your time to make one for the community and enviroment!</p>
                </div>
                <div id="feedback-cards"></div>
            </div>
        </div>
    </section>
    <!-- End Our Story Section -->
    
    <!-- Article Section -->
    <section id="testimonial_area" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 section-intro text-center">
                    <h1>Articles</h1>
                    <div class="divider"></div>
                    <p>Find out what's happening in our community. Let's save the future of our community and environment.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="testmonial_slider_area owl-carousel">
                    {% for article in articles %}
                    <div class="box-area">	
                        <img src="{{article.image}}" alt="">
                        <h5 class="mt-1 mb-2">{{article.title}}</h5>
                        <p>{{article.intro}}</p>
                        <a href="{{article.source}}"><button class="btn btn-main" type="submit">Read More</button></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Article Section -->

    <!-- Location Section -->
    <section id="reviews" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 section-intro text-center">
                    <h1>Where to Find Us </h1>
                    <div class="divider"></div>
                    <p>Find the nearest Waste Bank location integrated with us in your area</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15866.388933889108!2d106.86509012552966!3d-6.184622595466462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5e2ecef5665%3A0x2625ad2508aa6f6f!2sBank%20Sampah%20Induk%20Jakarta%20Pusat!5e0!3m2!1sid!2sid!4v1666942404577!5m2!1sid!2sid" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- End Location Section-->

    <!-- Feedback  -->
    <section id="contact" class="bg-cover text-white" style="background-image: url();">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 section-intro text-center">
                    <h1>Feedback</h1>
                    <div class="divider"></div>
                    <p>Share your experience in using Bin Bank to the community and help us to improve.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <form id="form-feedback" action="#" class="row g-4">
                        {% csrf_token %}
                        <div class="form-group col-md-6">
                            <input name="name" id="name" type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <p>If you want to keep it anonymous, just leave the name field blank!</p>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea name="feedback" id="feedback" cols="30" rows="4" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="text-center">
                            <button id="button" class="btn btn-main" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">Copyright © 2022. Bin Bank</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <div>
                        <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-github'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<!-- AJAX GET AND POST IMPLEMENTATION-->
<script>
  async function getFeedback() {
    return fetch("{% url 'bin_bank:show_feedback_json' %}").then((res) => res.json())
  }

  async function refreshFeedback() {
        document.getElementById("feedback-cards").innerHTML = ""
        const feedback = await getFeedback()
        let count = 0
        let htmlString = `<div class="row">`
        feedback.forEach((message) => {
            htmlString += `
                    <div class="col-sm-6">
                        <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">${message.fields.name}</h5>
                            <p class="date">Posted at ${message.fields.date}</p>
                            <p>${message.fields.feedback}</p>
                        </div>
                        </div>
                    </div>` 
            count++
        })
        htmlString += `</div>`
        document.getElementById("feedback-cards").innerHTML = htmlString
        document.getElementById("shared-story").innerHTML = count
        console.log(count)
  }

  function addFeedback() {
    fetch("{% url 'bin_bank:add_feedback' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form-feedback'))
        }).then(refreshFeedback)
        
        document.getElementById('feedback').value = ''
        document.getElementById('name').value = ''
    return false
  }

  document.getElementById("button").onclick = addFeedback
  refreshFeedback()
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script>
$(".testmonial_slider_area").owlCarousel({
        autoplay: true,
        slideSpeed:1000,
        items : 3,
        loop: true,
        nav:true,
        navText:['<i class="fa fa-arrow-left"></i>','<i class="fa fa-arrow-right"></i>'],
        margin: 30,
        dots: true,
        responsive:{
            320:{
                items:1
            },
            767:{
                items:2
            },
            600:{
                items:2
            },
            1000:{
                items:3
            }
        }
        
    });
</script>
{% endblock content %}