{% extends 'base.html' %}

{% block meta %}
<title>Leaderboard</title>
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="mt-5 col-md-8 mx-auto">
        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Username</th>
                  <th scope="col">Total Poin</th>
                </tr>
            </thead>
            <tbody id="leaderboard">
            </tbody>
        </table>
    </div>

    <script>
        async function getLeaderboard(){
            return fetch("json/leaderboard").then((res) => res.json())
        }
    
        async function refreshLeaderboard() {
            document.getElementById("leaderboard").innerHTML = ""
            const leaderboard = await getLeaderboard()
            let htmlString = ''
            let count = 1
            leaderboard.forEach((item)=>{
                if(item.fields.is_admin == false){
                    htmlString +=`
                    <tr>
                        <th scope="row">${count}</th>
                        <td>${item.fields.username}</td>
                        <td>${item.fields.points}</td>
                    </tr>
                    `
                    count+=1
                }
            })
            document.getElementById("leaderboard").innerHTML=htmlString
        }
        refreshLeaderboard()
    </script>
{% endblock content %}


