{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}
{% load static %}
    {% include 'navbar.html' %}
    <div class = "login">
        <!-- header page -->
        <h1>Formulir Registrasi</h1>  
                <!-- mengatasi serangan CSRF  -->
                {% csrf_token %}  
                <div class="mx-auto card align-items-center mb-3 w-50 " >
                    <form method="POST" >  
                        <div class="card-body">
                            <table>  
                                <!-- membuat form -->
                                {{ form.as_table }}  
                                <tr>  
                                    <td></td>
                                    <td><input type="submit" name="submit" value="Daftar"/></td>  
                                </tr>  
                            </table>  
                        </div>
                    </form>
                </div>
        

        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}

    </div>  

{% endblock content %}